@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  background-color: #1c2431;
}

.title {
  font-family: "Raleway";
  color: white;
  font-weight: 600;
}

.description {
  color: white;
  margin-top: 5px;
  line-height: 20px;
  font-weight: 500;
}

#container {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.content-area {
  width: 100%;
}

.content-area header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100%;
}

.content-area header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px;
}

.content-area header .menu a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.content-area header .menu a:hover {
  text-decoration: underline;
}

.content-area #area-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-area #area-1 .content-1 {
  width: 500px;
  padding: 10px;
  text-align: center;
}

.content-area #area-1 .content-1 button {
  margin-top: 15px;
  width: 200px;
  padding: 5px;
  border-radius: 50px;
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to left, #65e2d9, #339ecc);
  cursor: pointer;
  color: white;
}

.content-area #area-2 {
  padding: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin-top: 10%;
}

.content-area #area-2 .content-2 {
  width: 400px;
  text-align: center;
  padding: 20px;
}

.content-area #area-3 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-area #area-3 .content-3 {
  width: 400px;
  padding: 15px;
}

.content-area #area-3 .content-3 h1 {
  font-size: 40px;
}

.content-area #area-3 .content-3 .link {
  margin-top: 20px;
}

.content-area #area-3 .content-3 .link a {
  color: #65e2d9;
}

@media (max-width: 1200px) {
  .content-area {
    width: 100%;
  }
  .content-area header {
    width: 100%;
  }
  .content-area #area1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-area #area-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .content-area #area-2 .content-2 {
    margin: auto;
  }
  .content-area #area-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */