@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background-color: hsl(217deg, 28%, 15%);
}

.title {
  font-family: "Raleway";
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
}

.description {
  color: hsl(0deg, 0%, 100%);
  margin-top: 5px;
  line-height: 20px;
  font-weight: 500;
}

#container {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.content-area {
  width: 100%;
}
.content-area header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.content-area header .menu {
  display: flex;
  list-style: none;
  padding: 10px;
}
.content-area header .menu a {
  color: hsl(0deg, 0%, 100%);
  margin-left: 15px;
  text-decoration: none;
}
.content-area header .menu a:hover {
  text-decoration: underline;
}
.content-area #area-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-area #area-1 .content-1 {
  width: 500px;
  padding: 10px;
  text-align: center;
}
.content-area #area-1 .content-1 button {
  margin-top: 15px;
  width: 200px;
  padding: 5px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to left, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  cursor: pointer;
  color: hsl(0deg, 0%, 100%);
}
.content-area #area-2 {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  margin-top: 10%;
}
.content-area #area-2 .content-2 {
  width: 400px;
  text-align: center;
  padding: 20px;
}
.content-area #area-3 {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-area #area-3 .content-3 {
  width: 400px;
  padding: 15px;
}
.content-area #area-3 .content-3 h1 {
  font-size: 40px;
}
.content-area #area-3 .content-3 .link {
  margin-top: 20px;
}
.content-area #area-3 .content-3 .link a {
  color: hsl(176deg, 68%, 64%);
}
.content-area #area-4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
  padding: 50px;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
}
.content-area #area-4 .content-4 {
  width: 400px;
  background-color: hsl(219deg, 30%, 18%);
  padding: 20px;
  border-radius: 5px;
}
.content-area #area-4 .content-4 .testimonial {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.content-area #area-4 .content-4 .testimonial img {
  border-radius: 50px;
}
.content-area #area-4 .content-4 .testimonial .names {
  color: hsl(0deg, 0%, 100%);
  padding-left: 10px;
}
.content-area #area-5 {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.content-area #area-5 .login-area {
  width: 700px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: hsl(219deg, 30%, 18%);
  border-radius: 10px;
}
.content-area #area-5 .login-area .login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.content-area #area-5 .login-area .login .form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.content-area #area-5 .login-area .login .form .email {
  width: 300px;
  padding: 15px 30px;
  border-radius: 50px;
}
.content-area #area-5 .login-area .login .form .email::-moz-placeholder {
  color: black;
}
.content-area #area-5 .login-area .login .form .email:-ms-input-placeholder {
  color: black;
}
.content-area #area-5 .login-area .login .form .email::placeholder {
  color: black;
}
.content-area #area-5 .login-area .login .form .input-area {
  display: flex;
}
.content-area #area-5 .login-area .login .form .erroText {
  color: hsl(0deg, 100%, 63%);
  display: none;
  font-style: italic;
  position: relative;
  margin-top: 15px;
}
.content-area #area-5 .login-area .login .form .button {
  width: 200px;
  margin-left: 10px;
  padding: 15px;
  color: hsl(0deg, 0%, 100%);
  border-radius: 50px;
  background-image: linear-gradient(to left, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  cursor: pointer;
}
.content-area footer {
  width: 100%;
  background-color: hsl(216deg, 53%, 9%);
  padding: 50px;
}
.content-area footer .footer-area {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-area footer .footer-area .content-footer {
  width: 400px;
  display: flex;
  padding: 15px;
  align-items: center;
}
.content-area footer .footer-area .content-footer p {
  line-height: 1.5rem;
}
.content-area footer .footer-area .content-footer img {
  margin-right: 10px;
}
.content-area footer .footer-area .span-area {
  display: flex;
  flex-direction: column;
}
.content-area footer .footer-area .span-area span {
  color: hsl(0deg, 0%, 100%);
  padding: 10px;
}
.content-area footer .footer-area .link-area {
  display: flex;
  padding: 10px;
  width: 300px;
  justify-content: space-between;
}
.content-area footer .footer-area .link-area .links {
  list-style: none;
}
.content-area footer .footer-area .link-area .links a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.content-area footer .footer-area .link-area .links a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  #container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .content-area {
    width: 100%;
  }
  .content-area header {
    width: 100%;
  }
  .content-area #area1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .content-area #area-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .content-area #area-2 .content-2 {
    margin: auto;
  }
  .content-area #area-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content-area #area-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
  .content-area #area-4 .content-4 {
    margin-top: 20px;
  }
  .content-area #area-5 {
    width: 100%;
  }
  .content-area #area-5 .login-area {
    width: 450px;
    padding: 50px;
  }
  .content-area #area-5 .login-area .login {
    display: flex;
    justify-content: center;
  }
  .content-area #area-5 .login-area .login .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .content-area #area-5 .login-area .login .form .input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-area #area-5 .login-area .login .form .input-area .button {
    margin-top: 10px;
  }
  .content-area footer {
    width: 100%;
  }
  .content-area footer .footer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content-area footer .footer-area .link-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */