@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

//Primary
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
//Secondary
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);
//Fonts
$Font-Title:'DM Serif Display';
$Font:'Karla';

#container{
    width: 100%;
    height: 100vh;
}
