@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

//Primary
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
//Secondary
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);
//Fonts
$Font-Title:'DM Serif Display';
$Font:'Karla';

#container{
    width: 100%;
    height: 100vh;
}

nav{
    width: 100%;
    padding: 10px 20px;
    top: 0px;
    z-index: 999; 
    background-color: $Very-Light-Gray;
    position: fixed;
}

.navbar{
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .open-button,.close-button{
        cursor: pointer;
        display: none;
    }

    .menu{
        padding: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        font-family: $Font;
        li{
            margin-left: 5px;
            a{
                text-decoration: none;
                padding: 10px 15px;
                color: $Dark-Grayish-Violet;
                &:hover{
                    text-decoration: underline;
                }
            }
            .plans{
                border: 1px solid black;
                &:hover{
                    background-color: black;
                    color: white;
                    text-decoration: none;
                    transition: 0.5s;
                }
            }
        }
    }
}

#area-1{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 75px;
    background-color: $Dark-Violet;
    width: 100%;
    height: 500px;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    .image-area{margin-left: 15px;}
    margin-top: 5%;

    .border{
        border: 1px solid $Dark-Grayish-Violet;
        width: 150px;
    }
    
    .content{
        max-width: 550px;
        padding: 20px;
    
        .content-area{
           margin-top: 10%;
           .title{
               color: $Very-Light-Gray;
               font-size: 50px;
               font-weight: 600;
            }
            .description{
                color: $Very-Light-Gray;
                font-family: $Font;
                margin-top: 10px;
            }

            .link{
                margin-top: 5%;
                a{
                  border: 1px solid $Dark-Grayish-Violet;
                  padding: 10px;
                  text-decoration: none;
                  font-family: $Font;
                  color: $Very-Light-Gray;
                  &:hover{
                      background-color: white;
                      color: black;
                      transition: 0.5s;
                  }
                }
            }

    
        }
    }
}

#area-2{
    margin-top: 20%;
    width: 100%;
    padding: 30px 75px;

    .title-2{
        font-family: $Font-Title;
        font-size: 45px;
        margin-top: 20px;
        color: $Dark-Violet;
    }

    .border-2{
        border: 1px solid $Dark-Grayish-Violet;
        width: 150px;
    }

    .content-2{
        padding: 50px 10px;
        display: flex;
        justify-content: center;

        .testimonial{
            max-width: 400px;
            padding: 20px 10px;
            margin-right: 5px;

            .title-3{
                font-family: $Font-Title;
                margin-top: 20px;
                font-weight: 600;
            }

            .description-2{
                margin-top: 15px;
                font-size: 20px;
                font-family: $Font;
                color: $Dark-Grayish-Violet;
            }
        }
    }
}

#area-3{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    background-color: $Dark-Violet;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 5%;

    .title-4{
        width: 500px;

        h1{
            color: $Very-Light-Gray;
            font-family: $Font-Title;
            font-weight: 600;
            font-size: 45px;
        }
    }

    a{
        text-decoration: none;
        color: $Very-Light-Gray;
        font-family: $Font;
        border: 1px solid $Very-Light-Gray;
        padding: 5px;
        &:hover{
            background-color: white;
            color: black;
            transition: 0.5s;
        }
    }
}

footer{
    width: 100%;
    padding: 10px 20px;
    margin-top: 15%;
    .border-footer{border: 1px solid $Grayish-Blue;}
    background-image: url('../images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
    
    .header-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
        .icons{
            cursor: pointer;
            img {
                margin-left: 5px;
                &:hover{
                    transform: scale3d(1.2,1.2,1.2);
                    transition: 0.5s;
                }
            }
        }
    }

    #area-4{
        padding: 45px;
        display: flex;
        justify-content: space-evenly;
        

        .content-3{
            background-color: $Very-Light-Gray;
            padding: 15px;
            
            
            h4{
                margin-bottom: 5%;
                color: $Dark-Grayish-Violet;
                font-family: $Font;
                font-weight: 600;
            }


            .link-content{
                display: flex;
                flex-direction: column;
                
               
                
                a{
                    text-decoration: none;
                    color: $Very-Dark-Violet;
                    font-family: $Font;
                    padding: 5px;
                    &:hover{text-decoration: underline;}
                }
            }
        }
    }
}

@media (max-width:1200px){
    .navbar{

        .open-button,.close-button{
            display: block;
            z-index: 999;
        }

        .menu{
            top:0;
            height: 50vh;
            background-color: $Dark-Violet;
            margin: 0;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            display: none;
            position:absolute;
            background-image: url('..//images/bg-pattern-intro-right-mobile.svg');
            background-position: bottom right;
            background-repeat: no-repeat;

            li{
                padding: 15px;

                a{
                    font-size: 16px;
                    color: white;
                    
                }
            }

            &.show{
                display: flex;
                flex-direction: column;
                margin-top: 10%;
                
            }
        }

        .open-button.hidden,
        .close-button.hidden{
            display: none;
        }
    }

    #area-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: 850px;
        
        .image-area{margin-top: 5%;}

        .border{display: none;}
        
        .content{
            max-width: 550px;
            .content-area{
                text-align: center;
            }
        }
    }

    #area-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .content-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .testimonial{
                text-align: center;
            }
        }
    }

    #area-3{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title-4{
            text-align: center;
        }

        a{margin-top: 5%;}
    }

    footer{
        width: 100%;
        
        .header-footer{
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .icons{
                margin-top: 10px;
            }
        }

        #area-4{
            display: flex;
            flex-direction: column;

            h4{text-align: center;}

            .link-content{
                text-align: center;
            }
            
        }
    }
}

