@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

//Primary
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
//Secondary
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);
//Fonts
$Font-Title:'DM Serif Display';
$Font:'Karla';

#container{
    width: 100%;
    height: 100vh;
}

nav{
    width: 100%;
    padding: 10px 20px;
    top: 0px;
    z-index: 999; 
}

.navbar{
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .open-button,.close-button{
        cursor: pointer;
        display: none;
    }

    .menu{
        padding: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        font-family: $Font;
        li{
            margin-left: 5px;
            a{
                text-decoration: none;
                padding: 10px 15px;
                color: $Dark-Grayish-Violet;
                &:hover{
                    text-decoration: underline;
                }
            }
            .plans{
                border: 1px solid black;
                &:hover{
                    background-color: black;
                    color: white;
                    text-decoration: none;
                    transition: 0.5s;
                }
            }
        }
    }
}

#area-1{
    display: flex;
    padding: 30px 75px;
    background-color: $Dark-Violet;
    width: 100%;
    height: 500px;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    .image-area{margin-left: 15px;}

    .border{
        border: 1px solid $Dark-Grayish-Violet;
        width: 150px;
    }
    
    .content{
        max-width: 550px;
        padding: 20px;
    
        .content-area{
           margin-top: 10%;
           .title{
               color: $Very-Light-Gray;
               font-size: 50px;
               font-weight: 600;
            }
            .description{
                color: $Very-Light-Gray;
                font-family: $Font;
                margin-top: 10px;
            }

            .link{
                margin-top: 5%;
                a{
                  border: 1px solid $Dark-Grayish-Violet;
                  padding: 10px;
                  text-decoration: none;
                  font-family: $Font;
                  color: $Very-Light-Gray;
                  &:hover{
                      background-color: white;
                      color: black;
                      transition: 0.5s;
                  }
                }
            }

    
        }
    }
}



@media (max-width:900px){
    .navbar{

        .open-button,.close-button{
            display: block;
            z-index: 999;
        }

        .menu{
            top:0;
            height: 50vh;
            background-color: $Dark-Violet;
            margin: 0;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            display: none;
            position:absolute;
            background-image: url('..//images/bg-pattern-intro-right-mobile.svg');
            background-position: bottom right;
            background-repeat: no-repeat;

            li{
                padding: 15px;

                a{
                    font-size: 16px;
                    color: white;
                    
                }
            }

            &.show{
                display: flex;
                flex-direction: column;
                margin-top: 10%;
                
            }
        }

        .open-button.hidden,
        .close-button.hidden{
            display: none;
        }
    }

    #area-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: 800px;
        
        .image-area{margin-top: 5%;}

        .border{display: none;}
        
        .content{
            max-width: 550px;
            .content-area{
                text-align: center;
            }
        }
    }
}

