@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-weight: 500;
}

$color-body:rgb(5, 27, 99);
$color-font:white;
$header-color:rgb(0, 8, 34);

body{
    background-color: $color-body;
}

#container{
    width: 100%;
    height: 100vh;
}

header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-color;

    h1{
        font-size: 45px;
        color: white;
    }

    .select {
        margin: 1rem;
        position: relative;
        overflow: hidden;
    
        select{
            padding: 5px;
            cursor: pointer;
            border: none;
            width: 100px;
        }
    }
}

#content-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  
}

.area{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    height: 100vh;

    .content{
        width: 400px;
        height: 400px;
        padding: 10px;
       
        .description{
            padding: 10px;
            margin-top: 10px;
            color: $color-font;
            
            p{ margin-top: 5px;}
        }

        img{
           width: 80%;
           height: 50%;
        }
    }
}


