@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    --bg:#ffffff;
    --bg-dark:#1e202a;
    --header:#f5f7ff;
    --toggle-color:#aeb3cb;
    --text:hsl(228, 12%, 44%);
    --bright-red:hsl(356, 69%, 56%);
    --lime-green:hsl(163, 72%, 41%);
    --title:#1e202a;

    /*--gradient:linear-gradient(to left,hsl(37, 97%, 70%),hsl(329, 70%, 58%));*/
    --youtube:hsl(348, 97%, 39%);
    --twitter:hsl(203, 89%, 53%);
    --facebook:hsl(208, 92%, 53%);
}


#container{
    width: 100%;
    height: 100vh;
}

body{
    background-color: var(--bg);
}

header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header);
}

#border-1{
    border-top: 10px solid var(--facebook);
    box-shadow: 0 10px 0 0  rgba(0, 0, 0, 0.1);
}

#border-2{
    border-top: 10px solid var(--twitter);
    box-shadow: 0 10px 0 0  rgba(0, 0, 0, 0.1);
}

#border-3{
    border-top: 10px solid  hsl(37, 97%, 70%);
    box-shadow: 0 10px 0 0  rgba(0, 0, 0, 0.1);
}

#border-4{
    border-top: 10px solid var(--youtube);
    box-shadow: 0 10px 0 0  rgba(0, 0, 0, 0.1);
}


header .top-header{
    padding: 10px;
}

header .top-header h1{
    color: var(--title);
    font-weight: 700;
}


.toggle{
    display: flex;
    align-items: center;
}

.toggle p{
    margin-right: 10px;
    color: var(--text);
}

.subtitle{
    color: var(--toggle-color);
}

.content-area{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.content-area .content{
    width: 300px;
    height: 250px;
    background-color: var(--toggle-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-right: 30px;
}

.content-area .content .area-1{
    display: flex;
}

.content-area .content .area-1 p{
    margin-left: 10px;
}

.content-area .content .area-2{
    text-align: center;
    margin-top: 40px;
}

.content-area .content .area-2 p{
    color: var(--text);
}

.content-area .content .area-2 h1{
    font-size: 45px;
    color: var(--title);
}

.content-area .content .followers-area{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.content-area .content .followers-area .followers{
    color: var(--lime-green);
    margin-left: 10px;
}

.content-area .content .followers-area .followers-2{
    color: var(--bright-red);
    margin-left: 10px;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--text);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

@media screen and (max-width:900px) {
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }

    .content-area{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
    }

    .content-area .content{
        margin-top: 10px;
    }
}