

//Light Theme
$whiteBg:rgb(255, 255, 255);
$top-bg:hsl(225, 100%, 98%);//(Very Pale Blue)
$card-bg:hsl(227, 47%, 96%);//(Light Grayish Blue)
$text:hsl(228, 12%, 44%);//(Dark Grayish Blue)
$darkText:hsl(230, 17%, 14%);//(Very Dark Blue)
$toggle-color:hsl(230, 22%, 74%);

//Primary 
$Bright-Red: hsl(356, 69%, 56%);
$Lime-Green: hsl(163, 72%, 41%);

html{
    $darkText:hsl(230, 17%, 14%);//(Very Dark Blue)
    $whiteBg:white;
    height: 100%;
}

body{background-color: $whiteBg;}

.title{ color: $darkText; }

.subtitle{ color:$text; }


#container{
    width: 100%;
    height: 100vh;
}

header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-header{
        padding: 10px;
    }
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

input:checked + label {
    background-color: $toggle-color;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background-color: $darkText;
    float: right;
    border-radius: 100px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 90px;
        transition: 0.3s;
    }
}

.content-area{
    width: 100%;
    padding: 20px;

    .content{
        width: 300px;
        height: 250px;
        background-color: $toggle-color;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        .area-1{
            display: flex;
            p{margin-left: 10px;}
        }

        .area-2{
            text-align: center;
            margin-top: 40px;
            h1{font-size: 45px;}
        }

        .followers-area{
            display: flex;
            align-items: center;
            margin-top: 40px;
            .followers{
                color: $Lime-Green;
                margin-left: 10px;
            }
        }

    }
}