@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}

//Primary
$red:hsl(0, 100%, 67%);
$yellow:hsl(39, 100%, 56%);
$green:hsl(166, 100%, 37%);

//Neutral
$background-white:hsl(0, 0%, 100%);
$font:hsl(221, 100%, 96%);
$statistic:hsl(221, 100%, 96%);
$lavender:hsl(241, 100%, 89%);
$darkgrey:hsl(224, 30%, 27%);

body{
    min-height: 100vh;
}