@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*background-color: #151D32;*/

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/qa-bg.jpg);
    background-size: cover;
    background-position: right; 
}

:root{
    --btnButton:#010e57;
    --bckgInput:#02022b;
    --font:white;
}

.allButton{
    cursor: pointer;
    background-color: var(--btnButton);
    color: var(--font);
    padding: 5px;
    width: 100px;
    border-radius: 15px;
    opacity: 0.7;
    transition: 0.5s all;
}

.allButton:hover{
    opacity: 1;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.logo{
    padding: 15px;
}

form{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

form input{
    flex: 1;
    border: 1px solid black;
    padding: 5px;
    background-color:var(--bckgInput);
    border-radius: 5px;
    color: var(--font);
}

form input::placeholder{
    padding: 5px;
    color: var(--font);
    font-weight: 700;
}

form input:focus {
    border: 2px solid #00ffcc;
    box-shadow: 0px 0px 8px rgba(0, 255, 204, 0.8);
}

.qrCode-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#qrcode{
    padding: 10px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
 
#download-btn,#share-btn{
    display: none;
}