*{
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    height: 100vw;
}

.header{
    height: 50px;
    background-color: red;
}

.slider{
    flex: 1;
    overflow: hidden;
}

.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 1px 1px black;
    font-size: 50px;
}

.slider--controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

/*
.slider{
    width:500px;
    height:300px;
    overflow: hidden;
}

.slider--controls{
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


*/