@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
}

$font-color:hsl(275, 100%, 97%);
$faq-background:hsl(275, 100%, 97%);
$header-color:hsl(292, 42%, 14%);
$faq-title:hsl(292, 42%, 14%);
$body-color:hsl(292, 16%, 49%);
$hover-color:hsl(292, 16%, 49%);
$grey:hsl(0, 0%, 50%);

body{
    height: 100vh;
    background-color: $body-color;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-image: url(../images/background-pattern-desktop.svg);
    background-size: cover;

    .faq-area{
        width: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;

        header{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            .title-header{
                color: $font-color;
                font-size: 45px;
            }
        }

        
    }
        
}