@import "tailwindcss";

:root {
  --background: #0A0307;
  --foreground: #EBEBEB;
  --critical: #E60925;
  --healthy: #2E826D;
  --warning: #D9A62E;
  --accent: #3E8FB0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-critical: var(--critical);
  --color-healthy: var(--healthy);
  --color-warning: var(--warning);
  --color-accent: var(--accent);
  --font-sans: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}