@media screen and (max-width:920px) {
    header{
        width: 100%;
        .open{
            display: block;
        }

        .menu{
            display: none;
        }
    
    
    }
   
    .area-1{
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column-reverse;
    
        .content-1{
            text-align: center;
            padding: 15px;
            .title-1{
                font-size: 30px;
                font-weight: 700;
            }

            .button-area{
                display: flex;
                align-items: center;
                width: 100%;
            }
        }

        .img-area-1{
           width: 500px;
           margin-right: -50% ;
            img{
                width: 350px;
                margin-left: -12%;
                margin-top: -10%;
            }
        }
        
        
    }

    .links{
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .book-mark-1{
        width: 100%;
        padding: 10px; 
        .mark-areas-1{
            width: 100%;
            padding: 25px;
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .img-area-2{
                width: 500px;
                margin-left: -22%;
        
                img{
                    width: 300px;
                }
            }
            
            .content-2{
                padding: 10px;
                text-align: center;
            }
        }
    }

    .book-mark-2{
        width: 100%;
        padding: 10px;
        display: none; 
        .mark-areas-2{
            width: 100%;
            padding: 25px;
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .img-area-3{
                width: 500px;
                margin-left: -22%;
        
                img{
                    width: 300px;
                }
            }
            
            .content-3{
                padding: 10px;
                text-align: center;
            }
        }
    }

    .book-mark-3{
        width: 100%;
        padding: 10px;
        display: none; 
        .mark-areas-3{
            width: 100%;
            padding: 25px;
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .img-area-4{
                width: 500px;
                margin-left: -22%;
        
                img{
                    width: 300px;
                }
            }
            
            .content-4{
                padding: 10px;
                text-align: center;
            }
        }
    }

    .extension{
        padding: 15px;
        margin-top: 5%;
    }
    
    .extensions-area{
        width: 100%;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


