@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", Arial;
}

.color-title {
  color: hsl(229, 31%, 21%);
}

.color-description {
  color: hsl(229, 8%, 60%);
}

header {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .open, header .close {
  display: none;
  cursor: pointer;
}
header .menu {
  padding: 5px;
}
header .menu a {
  text-decoration: none;
  padding: 5px;
  color: hsl(229, 8%, 60%);
}
header .menu a:hover {
  transition: 0.5s all;
  color: hsl(0, 94%, 66%);
}
header .menu .login {
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 94%, 66%);
  cursor: pointer;
}
header .menu .login:hover {
  transition: 0.5s all;
  color: hsl(0, 94%, 66%);
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 94%, 66%);
}

.menu-mobile {
  width: 100%;
  padding: 10px;
  background-color: hsl(229, 31%, 21%);
  display: none;
  position: absolute;
}
.menu-mobile .line {
  border: 1px solid rgba(255, 255, 255, 0.473);
  width: 100%;
}
.menu-mobile .links-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-mobile .links-menu .icon-media {
  margin-top: 10%;
}
.menu-mobile .links-menu .icon-media a {
  gap: 5px;
}
.menu-mobile .links-menu .login-menu {
  margin-top: 3%;
  width: 200px;
  padding: 5px;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border-color: white;
  cursor: pointer;
}
.menu-mobile .links-menu a {
  padding: 10px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.area-1 {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6%;
}
.area-1 .content-1 {
  width: 400px;
  padding: 10px;
}
.area-1 .content-1 .title-1 {
  font-size: 40px;
  font-weight: 700;
}
.area-1 .content-1 .description-1 {
  margin-top: 3%;
  font-weight: 500;
}
.area-1 .content-1 .button-area {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5%;
  width: 300px;
}
.area-1 .content-1 .button-area .button-chrome {
  padding: 10px;
  width: 200px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.area-1 .content-1 .button-area .button-chrome:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}
.area-1 .content-1 .button-area .button-firefox {
  padding: 10px;
  width: 200px;
  background-color: hsl(229, 8%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.area-1 .content-1 .button-area .button-firefox:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 8%, 60%);
  border-color: hsl(229, 8%, 60%);
  transition: 0.5s all;
}
.area-1 .img-area-1 {
  width: 650px;
  margin-right: -45px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 0px 0px 50px;
}
.area-1 .img-area-1 img {
  margin-left: -12%;
  margin-top: -10%;
}

.area-2 {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
}
.area-2 .description-2 {
  margin-top: 3%;
}

.links {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.links a {
  text-decoration: none;
  padding: 20px;
  color: hsl(229, 31%, 21%);
}
.links a:hover {
  text-decoration: underline;
  color: hsl(0, 94%, 66%);
  transition: 0.5s all;
}

.mark-areas {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.mark-areas .img-area-2 {
  width: 650px;
  margin-left: -40px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 0px 50px 0px;
  padding: 10px;
}
.mark-areas .img-area-2 img {
  width: 420px;
  margin-left: 40%;
  margin-top: -15%;
}
.mark-areas .content-2 {
  width: 420px;
  padding: 10px;
}
.mark-areas .content-2 .description-3 {
  color: hsl(229, 8%, 60%);
  margin-top: 3%;
}
.mark-areas .content-2 .button-info {
  margin-top: 3%;
  padding: 10px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.mark-areas .content-2 .button-info:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}/*# sourceMappingURL=style.css.map */