@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',Arial;
}

$font-content: hsl(229, 8%, 60%);
$font-title: hsl(229, 31%, 21%);
$font-content: hsl(229, 31%, 21%);
$hover-red:hsl(0, 94%, 66%);
$red:hsl(0, 94%, 66%);
$hover-button:hsl(231, 69%, 60%);
$white:hsl(0, 0%, 100%);

header{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .open{
        display: none;
    }

    .menu{
        padding: 5px;
        a{
            text-decoration: none;
            padding: 5px;
            color: $font-content;
            &:hover{
                transition: 0.5s all;
                color: $hover-red;
            }
        }

        .login{
            padding: 10px;
            border-radius: 5px;
            color: $white;
            background-color: $red;
            cursor: pointer;
            &:hover{
                transition: 0.5s all;
                color: $hover-red;
                background-color: $white;
                border-color: $red;
            }
        }
    }
}

.menu-mobile{
    width: 100%;
    padding: 10px;
    background-color: $font-content;
    display: none;
    
    .line{
        border: 1px solid rgba(255, 255, 255, 0.473);
        width: 100%;
    }

   .links-menu{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-media{
            margin-top: 10%;
            a{
                gap: 5px;
            }
        }

        .login-menu{
            margin-top: 3%;
            width: 200px;
            padding: 5px;
            color: $white;
            background-color: transparent;
            border-color: white;
            cursor: pointer;
        }

        a{
            padding: 10px; 
            text-decoration: none;
            color: $white;
        }
   }
}
