@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", Arial;
}

.color-title {
  color: hsl(229, 31%, 21%);
}

.color-description {
  color: hsl(229, 8%, 60%);
}

header {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .open, header .close {
  display: none;
  cursor: pointer;
}
header .menu {
  padding: 5px;
}
header .menu a {
  text-decoration: none;
  padding: 5px;
  color: hsl(229, 8%, 60%);
}
header .menu a:hover {
  transition: 0.5s all;
  color: hsl(0, 94%, 66%);
}
header .menu .login {
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 94%, 66%);
  cursor: pointer;
}
header .menu .login:hover {
  transition: 0.5s all;
  color: hsl(0, 94%, 66%);
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 94%, 66%);
}

.menu-mobile {
  width: 100%;
  padding: 10px;
  background-color: hsl(229, 31%, 21%);
  display: none;
  position: absolute;
}
.menu-mobile .line {
  border: 1px solid rgba(255, 255, 255, 0.473);
  width: 100%;
}
.menu-mobile .links-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-mobile .links-menu .icon-media {
  margin-top: 10%;
}
.menu-mobile .links-menu .icon-media a {
  gap: 5px;
}
.menu-mobile .links-menu .login-menu {
  margin-top: 3%;
  width: 200px;
  padding: 5px;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border-color: white;
  cursor: pointer;
}
.menu-mobile .links-menu a {
  padding: 10px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.area-1 {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6%;
}
.area-1 .content-1 {
  width: 400px;
  padding: 10px;
}
.area-1 .content-1 .title-1 {
  font-size: 40px;
  font-weight: 700;
}
.area-1 .content-1 .description-1 {
  margin-top: 3%;
  font-weight: 500;
}
.area-1 .content-1 .button-area {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5%;
  width: 300px;
}
.area-1 .content-1 .button-area .button-chrome {
  padding: 10px;
  width: 200px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.area-1 .content-1 .button-area .button-chrome:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}
.area-1 .content-1 .button-area .button-firefox {
  padding: 10px;
  width: 200px;
  background-color: hsl(229, 8%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.area-1 .content-1 .button-area .button-firefox:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 8%, 60%);
  border-color: hsl(229, 8%, 60%);
  transition: 0.5s all;
}
.area-1 .img-area-1 {
  width: 650px;
  margin-right: -45px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 0px 0px 50px;
}
.area-1 .img-area-1 img {
  margin-left: -12%;
  margin-top: -10%;
}

.area-2 {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
}
.area-2 .description-2 {
  margin-top: 3%;
}

.links {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.links span {
  cursor: pointer;
  text-decoration: none;
  padding: 20px;
  color: hsl(229, 31%, 21%);
}
.links span:hover {
  text-decoration: underline;
  color: hsl(0, 94%, 66%);
  transition: 0.5s all;
}

.book-mark-1 {
  width: 100%;
  padding: 10px;
}
.book-mark-1 .mark-areas-1 {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.book-mark-1 .mark-areas-1 .img-area-2 {
  width: 650px;
  margin-left: -40px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 0px 50px 0px;
  padding: 10px;
}
.book-mark-1 .mark-areas-1 .img-area-2 img {
  width: 420px;
  margin-left: 40%;
  margin-top: -15%;
}
.book-mark-1 .mark-areas-1 .content-2 {
  width: 420px;
  padding: 10px;
}
.book-mark-1 .mark-areas-1 .content-2 .description-3 {
  color: hsl(229, 8%, 60%);
  margin-top: 3%;
}
.book-mark-1 .mark-areas-1 .content-2 .button-info {
  margin-top: 3%;
  padding: 10px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.book-mark-1 .mark-areas-1 .content-2 .button-info:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}

.book-mark-2 {
  width: 100%;
  padding: 10px;
  display: none;
}
.book-mark-2 .mark-areas-2 {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.book-mark-2 .mark-areas-2 .img-area-3 {
  width: 650px;
  margin-left: -40px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 0px 50px 0px;
  padding: 10px;
}
.book-mark-2 .mark-areas-2 .img-area-3 img {
  width: 420px;
  margin-left: 40%;
  margin-top: -15%;
}
.book-mark-2 .mark-areas-2 .content-3 {
  width: 420px;
  padding: 10px;
}
.book-mark-2 .mark-areas-2 .content-3 .description-4 {
  color: hsl(229, 8%, 60%);
  margin-top: 3%;
}
.book-mark-2 .mark-areas-2 .content-3 .info-2 {
  margin-top: 3%;
  padding: 10px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.book-mark-2 .mark-areas-2 .content-3 .info-2:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}

.book-mark-3 {
  width: 100%;
  padding: 10px;
  display: none;
}
.book-mark-3 .mark-areas-3 {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.book-mark-3 .mark-areas-3 .img-area-4 {
  width: 650px;
  margin-left: -40px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 0px 50px 0px;
  padding: 10px;
}
.book-mark-3 .mark-areas-3 .img-area-4 img {
  width: 420px;
  margin-left: 40%;
  margin-top: -15%;
}
.book-mark-3 .mark-areas-3 .content-4 {
  width: 420px;
  padding: 10px;
}
.book-mark-3 .mark-areas-3 .content-4 .description-5 {
  color: hsl(229, 8%, 60%);
  margin-top: 3%;
}
.book-mark-3 .mark-areas-3 .content-4 .info-3 {
  margin-top: 3%;
  padding: 10px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.book-mark-3 .mark-areas-3 .content-4 .info-3:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}

.extension {
  padding: 15px;
  width: 550px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

#firefox {
  margin-top: 5%;
}

#opera {
  margin-top: 10%;
}

.extensions-area {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.extensions-area .navigator {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extensions-area .navigator h4 {
  margin-top: 8%;
}
.extensions-area .navigator .version {
  margin-top: 5%;
}
.extensions-area .navigator .line {
  width: 100%;
  border: 1px dashed gray;
  margin-top: 10%;
}
.extensions-area .navigator .button-install {
  margin-top: 20%;
  width: 100%;
  padding: 10px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.extensions-area .navigator .button-install:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}

.faq-description {
  padding: 25px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
}
.faq-description p {
  margin-top: 3%;
}

.faq-area {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq-area .more-info {
  margin-top: 5%;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
}
.faq-area .more-info:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  transition: 0.5s all;
}
.faq-area .accordion {
  width: 500px;
}
.faq-area .accordion .accordion-item {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.faq-area .accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.faq-area .accordion .accordion-item button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: hsl(229, 31%, 21%);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.faq-area .accordion .accordion-item button:hover, .faq-area .accordion .accordion-item button:focus {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
  transition: 0.5s all;
}
.faq-area .accordion .accordion-item button:hover::after, .faq-area .accordion .accordion-item button:focus::after {
  cursor: pointer;
  border: 1px solid hsl(229, 8%, 60%);
}
.faq-area .accordion .accordion-item button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.faq-area .accordion .accordion-item button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
}
.faq-area .accordion .accordion-item button[aria-expanded=true] {
  color: hsl(229, 8%, 60%);
}
.faq-area .accordion .accordion-item button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.faq-area .accordion .accordion-item .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.faq-area .accordion .accordion-item .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.area-3 {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(231, 69%, 60%);
  margin-top: 5%;
}
.area-3 .content-3 {
  width: 450px;
  text-align: center;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}
.area-3 .content-3 h3 {
  margin-top: 3%;
}
.area-3 .content-3 h1 {
  margin-top: 3%;
}
.area-3 form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.area-3 form .email-box {
  padding: 5px;
}
.area-3 form .email-box .erroIcon {
  position: absolute;
  margin-left: 14%;
  margin-top: -2.5%;
  padding: 10px;
  display: none;
}
.area-3 form .email-box input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}
.area-3 form .email-box .button-form {
  padding: 10px;
  border-radius: 5px;
  background-color: hsl(0, 94%, 66%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.area-3 form .email-box .button-form:hover {
  transition: 0.5s all;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 94%, 66%);
  border: hsl(0, 94%, 66%);
}
.area-3 form .error {
  width: 250px;
  border-radius: 0px 0px 5px 5px;
  text-align: left;
  background-color: hsl(0, 94%, 66%);
  color: hsl(0, 0%, 100%);
  margin-right: 6%;
  padding: 3px;
  margin-top: 3%;
  position: absolute;
  display: none;
}

footer {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: hsl(229, 31%, 21%);
  justify-content: space-around;
}
footer .area-footer {
  display: flex;
  align-items: center;
  padding: 10px;
}
footer .area-footer img {
  margin-right: 10px;
}
footer .area-footer .link-footer {
  padding: 10px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
footer .area-footer .link-footer:hover {
  transition: 0.5s all;
  color: hsl(0, 94%, 66%);
}
footer .social-media {
  padding: 10px;
}
footer .social-media .media {
  padding: 10px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
footer .social-media .media:hover {
  transition: 0.5s all;
  color: hsl(0, 94%, 66%);
}/*# sourceMappingURL=style.css.map */