@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',Arial;
}

$font-content: hsl(229, 8%, 60%);
$font-title: hsl(229, 31%, 21%);
$menu-mobile: hsl(229, 31%, 21%);
$font-subTitles: hsl(229, 31%, 21%);
$hover-red:hsl(0, 94%, 66%);
$red:hsl(0, 94%, 66%);
$hover-button:hsl(231, 69%, 60%);
$button-purple:hsl(231, 69%, 60%);
$purple:hsl(231, 69%, 60%);
$button-grey:hsl(229, 8%, 60%);
$grey:hsl(229, 8%, 60%);
$white:hsl(0, 0%, 100%);

.color-title{
    color: $font-title;
}

.color-description{
    color: $font-content;
}

header{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .open,.close{
        display: none;
        cursor: pointer;
    }

    .menu{
        padding: 5px;
        a{
            text-decoration: none;
            padding: 5px;
            color: $font-content;
            &:hover{
                transition: 0.5s all;
                color: $hover-red;
            }
        }

        .login{
            padding: 10px;
            border-radius: 5px;
            color: $white;
            background-color: $red;
            cursor: pointer;
            &:hover{
                transition: 0.5s all;
                color: $hover-red;
                background-color: $white;
                border-color: $red;
            }
        }
    }
}

.menu-mobile{
    width: 100%;
    padding: 10px;
    background-color: $menu-mobile;
    display: none;
    position: absolute;
    .line{
        border: 1px solid rgba(255, 255, 255, 0.473);
        width: 100%;
    }

   .links-menu{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-media{
            margin-top: 10%;
            a{
                gap: 5px;
            }
        }

        .login-menu{
            margin-top: 3%;
            width: 200px;
            padding: 5px;
            color: $white;
            background-color: transparent;
            border-color: white;
            cursor: pointer;
        }

        a{
            padding: 10px; 
            text-decoration: none;
            color: $white;
        }
   }
}

.area-1{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6%;
    .content-1{
        width: 400px;
        padding: 10px;

        .title-1{
            font-size: 40px;
            font-weight: 700;
        }

        .description-1{
            margin-top: 3%;
            font-weight: 500;
        }

        .button-area{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 5%;
            width: 300px;
            .button-chrome{
                padding: 10px;
                width: 200px;
                background-color: $button-purple;
                color: $white;
                cursor: pointer;
                &:hover{
                    background-color: $white;
                    color: $hover-button;
                    border-color: $hover-button;
                    transition: 0.5s all;
                }
            }

            .button-firefox{
                padding: 10px;
                width: 200px;
                background-color: $button-grey;
                color: $white;
                cursor: pointer;
                &:hover{
                    background-color: $white;
                    color: $font-content;
                    border-color: $font-content;
                    transition: 0.5s all;
                }
            }
        }
    }
    .img-area-1{
        width:650px;
        margin-right: -45px ;
        background-color: $purple;
        border-radius: 0px 0px 0px 50px;
       
        img{
           margin-left: -12%;
           margin-top: -10%;
        }
    }
}

.area-2{
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 3%;

    .description-2{
        margin-top: 3%;
    }
}

.links{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

    span{
       cursor: pointer;
       text-decoration: none;
       padding: 20px;
       color: $font-title;
       &:hover{
            text-decoration: underline;
            color: $red;
            transition: 0.5s all;
       }
    }
}

.book-mark-1{
    width: 100%;
    padding: 10px;
    .mark-areas-1{
        width: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
    
        .img-area-2{
            width:650px;
            margin-left: -40px ;
            background-color: $purple;
            border-radius: 0px 0px 50px 0px;
            padding: 10px;
    
            img{
                width: 420px;
                margin-left: 40%;
                margin-top: -15%;
            }
        }
    
        .content-2{
            width: 420px;
            padding: 10px;
    
            .description-3{
                color: $font-content;
                margin-top: 3%;
            }
    
            .button-info{
                margin-top: 3%;
                padding: 10px;
                background-color: $button-purple;
                color: $white;
                cursor: pointer;
                &:hover{
                    background-color: $white;
                    color: $hover-button;
                    border-color: $hover-button;
                    transition: 0.5s all;
                }
            }
        }
    }
}

.book-mark-2{
    width: 100%;
    padding: 10px;
    display: none;
    .mark-areas-2{
        width: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
    
        .img-area-3{
            width:650px;
            margin-left: -40px ;
            background-color: $purple;
            border-radius: 0px 0px 50px 0px;
            padding: 10px;
    
            img{
                width: 420px;
                margin-left: 40%;
                margin-top: -15%;
            }
        }
    
        .content-3{
            width: 420px;
            padding: 10px;
    
            .description-4{
                color: $font-content;
                margin-top: 3%;
            }
    
            .info-2{
                margin-top: 3%;
                padding: 10px;
                background-color: $button-purple;
                color: $white;
                cursor: pointer;
                &:hover{
                    background-color: $white;
                    color: $hover-button;
                    border-color: $hover-button;
                    transition: 0.5s all;
                }
            }
        }
    }
}

.book-mark-3{
    width: 100%;
    padding: 10px;
    display: none;
    .mark-areas-3{
        width: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
    
        .img-area-4{
            width:650px;
            margin-left: -40px ;
            background-color: $purple;
            border-radius: 0px 0px 50px 0px;
            padding: 10px;
    
            img{
                width: 420px;
                margin-left: 40%;
                margin-top: -15%;
            }
        }
    
        .content-4{
            width: 420px;
            padding: 10px;
    
            .description-5{
                color: $font-content;
                margin-top: 3%;
            }
    
            .info-3{
                margin-top: 3%;
                padding: 10px;
                background-color: $button-purple;
                color: $white;
                cursor: pointer;
                &:hover{
                    background-color: $white;
                    color: $hover-button;
                    border-color: $hover-button;
                    transition: 0.5s all;
                }
            }
        }
    }
}

.extension{
    padding: 15px;
    width: 550px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

.extensions-area{
    width: 100%;
    padding: 25px;
    .navigator{
        
    }
}