@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: #1B2838;
}

#container {
  width: 100%;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171A21;
  padding: 35px;
  color: white;
}

header .title {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Passion One';
}

header p {
  font-style: italic;
}

#content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.area .content {
  width: 400px;
  padding: 10px;
}

.area .content img {
  width: 100%;
}

.area .content .games-description {
  margin-top: 10px;
}

.area .content .games-description h3, .area .content .games-description p {
  color: white !important;
}

footer {
  background-color: #171A21;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

footer .title-footer {
  color: white;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

footer .social-media a:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

footer .about {
  width: 500px;
  padding: 20px;
  background-color: #3b7bc9;
  border-radius: 5px;
}

footer .about .description, footer .about .reference {
  margin-top: 10px;
}

footer .about .description a, footer .about .reference a {
  color: white;
  text-decoration: none;
}

footer .about .description a:hover, footer .about .reference a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  footer {
    width: 100%;
  }
  footer .about {
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */