@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik';
}

$Blue:hsl(246, 80%, 60%);
$Lightredwokr:hsl(15, 100%, 70%);
$Softblue: hsl(195, 74%, 62%);
$Lightredstudy: hsl(348, 100%, 68%);
$Limegreen:hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$Softorange: hsl(43, 84%, 65%);
