@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik";
}

body {
  background-color: hsl(235deg, 46%, 20%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-gap: auto;
  grid-row-gap: 3em;
  width: 80%;
  justify-content: center;
}

.control {
  border-radius: 20px;
  background-color: hsl(235deg, 46%, 20%);
  width: 300px;
}

.profile {
  background-color: hsl(246deg, 80%, 60%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profileImg {
  width: 50px;
}
.profileImg img {
  width: 100%;
  border: 3px solid white;
  border-radius: 50%;
}

.text {
  margin: 0 15px;
}
.text p {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 300;
  font-size: 18px;
}
.text p span {
  font-size: 13px;
  margin-bottom: 3px;
  color: hsl(236deg, 100%, 87%);
}

.controls {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.controls a {
  text-decoration: none;
  color: hsl(236deg, 100%, 87%);
}
.controls a:hover {
  color: white;
}

.control.active {
  color: white;
}

.panel {
  border-radius: 20px;
  position: relative;
  height: 158px;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
}

.panel:hover .schedule-text {
  background-color: hsl(235deg, 45%, 61%);
}

.panel:nth-child(2) .schedule-img {
  background-color: hsl(348deg, 100%, 68%);
}

.panel:nth-child(3) .schedule-img {
  background-color: hsl(195deg, 74%, 62%);
}

.panel:nth-child(4) .schedule-img {
  background-color: hsl(15deg, 100%, 70%);
}

.panel:nth-child(5) .schedule-img {
  background-color: hsl(145deg, 58%, 55%);
}

.panel:nth-child(6) .schedule-img {
  background-color: hsl(264deg, 64%, 52%);
}

.panel:nth-child(7) .schedule-img {
  background-color: hsl(43deg, 84%, 65%);
}

.schedule-img {
  border-radius: 20px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: -11px;
  width: 100%;
  height: 100%;
}
.schedule-img img {
  width: 76px;
  position: relative;
  margin-left: 0;
  float: right;
}

.schedule-text {
  position: relative;
  top: 40px;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: hsl(235deg, 46%, 20%);
}

.schedule-text p:first-child {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}

.schedule-text p:first-child:after {
  content: url("../images/icon-ellipsis.svg");
  margin-left: auto;
}

.duration {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.duration p {
  font-size: 14px;
  color: white;
  margin-left: auto;
  color: hsl(236deg, 100%, 87%);
}

@media (min-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-auto-rows: minmax(200px, auto);
    width: 90%;
  }
  .control {
    grid-column: 1;
    grid-row: 1/3;
    width: unset;
  }
  .controls {
    padding: 30px;
  }
  .controls a {
    font-size: 1.2rem;
  }
  .profile {
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
  }
  .profile img {
    width: 80px;
  }
  .text {
    margin: 20px 0;
  }
  .text p {
    font-size: 2.5rem;
    line-height: 3rem;
    width: 50%;
  }
  .text p span {
    font-size: 16px;
  }
  .controls {
    flex-direction: column;
    align-items: space-between;
    height: 30%;
  }
  .panel {
    height: 230px;
    width: unset;
  }
  .schedule-text {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .duration {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
  .duration p {
    padding-top: 10px;
    margin-left: 0;
  }
  .duration h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */